body {
    background-image: url(https://s1.1zoom.ru/big0/145/Graffiti_Berlin_Germany_Kiss_Wall_529025_1280x853.jpg);
    background-repeat: no-repeat;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
}



