#primeContainer {
    width: 40%;
    border: solid 5px darkblue;
    padding: 7px;
    height: 300px;
    position: fixed;
    left: 400px;
    max-width: 500px;
    overflow: scroll;
    font-size: small;
    margin-top: 50px;
    margin-bottom: 30px;
}

