body
{
    background-image: url(https://cdn.pixabay.com/photo/2014/08/25/22/55/hand-427521_960_720.png);
    background-repeat: no-repeat;
    background-position: -15px 100px;
}

input, select, option, label
{
    display: table-cell;
    padding: 5px;
    margin: 5px;
    font-size: large;
}

div
{
    display: table-row;
}

form
{
    border: none;
    width: 30%;
    margin: 0 auto;
    padding: 5px 40px;
}

input, select
{
    width: 90%;
}

