table{
    border-collapse: collapse;
    margin: 30px auto;
}
th, td {
    width: 50px;
    height: 50px;
    background-color: green;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: dimgrey;
    border-radius: 25px;
    box-shadow: inset 0 0 5px #000000;
}

th:hover, td:hover
{
    background-color: darkgreen;
}

.openedCell
{
    background-color: lightgreen;
}
.setMine{
    background: greenyellow url("red-flag.png") no-repeat;
    background-size: contain;
}

.showMine{
    background: orangered url("Mine.png") no-repeat;
    background-size: contain;
}


div{
    font-size: xx-large;
    position: absolute;
    padding: 20px;
    background-color: #fa5548;
    top: 100px;
}